<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Derived Product 1 - Sixers Test Suite"  verbose="1">

    <listeners>
        <listener class-name="com.veeva.framework.listeners.AllureListener"/>
    </listeners>

    <test name="TC3 - Sixers Ticket Carousel">
        <classes>
            <class name="com.veeva.dp1.tests.TC3_SixersTicketCarouselTest"/>
        </classes>
    </test>

</suite>
